---
import '../globals.css';
import Layout from '../layouts/main.astro';
import Roshambodle from '../components/Roshambodle';
import Consensu5 from '../components/Consensu5';
import InReview from '../components/InReview';
import ThisSite from '../components/ThisSite';

const currentPath = Astro.url.pathname;
---

<Layout title="Projects" currentPath={currentPath}>
  <div class="text-xl px-16">
    <h1 class="mt-10 font-bold text-2xl">Projects</h1>
    <div>
      <InReview client:load />
      <Consensu5 client:load />
      <Roshambodle client:load />
      <ThisSite client:load />
    </div>
  </div>
</Layout>
